<div class="container d-flex flex-column">
    <div class="card m-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://cdn.vietnammoi.vn/1881912202022777/images/anh-phong-ngu-chill-1-20220518180445531.jpg?width=700"
                    class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Bạn đã đặt phòng thành công! </h4>
                    <hr>
                    <div class="row">
                        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                            <div class="col-md-6">
                                <label for="phoneNumber" class="form-label">Tra cứu đặt phòng!</label>
                                <input type="text" formControlName="phoneNumber" class="form-control mr-2"
                                    placeholder="Số điện thoại">
                            </div>
                            <div class="col-md-6">
                                <br>
                                <button class="btn btn-primary btn-sm">Submit</button>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div *ngFor="let booking of searchResult" class="row">
                        <h4 class="card-title">Khách hàng : {{ booking.tenKhachHang }}</h4>
                        <div class="col-md-6">    
                            <p class="card-text">Số điện thoại: {{ booking.soDienThoai}}</p>
                            <p class="card-text">Số căn cước: {{booking.soDinhDanh}} </p>
                            <p class="card-text">Email: {{booking.email}} </p>
                            <p class="card-text">Trạng thái: {{booking.trangThai}}  </p>
                        </div>
                        <div class="col-md-6">
                            <h6 class="card-text">Chi tiết đặt phòng</h6>     
                            <p class="card-text">Check-In  : {{booking.ngayNhan | date:'yyyy-MM-dd'}} </p>
                            <p class="card-text">Check-Out : {{booking.ngayTra | date:'yyyy-MM-dd'}} </p>
                            <div class="btn-group me-2">    
                                <button type="button" (click)="save(booking.maDatphong)" 
                                [disabled]="booking.trangThai === 'Đã huỷ' || booking.trangThai === 'Đã từ chối'" 
                                class="btn btn-sm btn-outline-secondary">Huỷ đặt phòng</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>