<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Thống kê doanh thu theo tháng</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
        </button>
    </div>
</div>
<br>

<form (submit)="getRevenueInMonth()">
    <div class="row">
        <div class="col-md-3">
            <label class="form-label" for="startDate">Chọn tháng:</label>
            <input class="form-control" type="month" [(ngModel)]="month" name="month" required>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit"  class="btn btn-primary">Tính doanh thu</button>
        </div> 
    </div>
</form>
<br>
<hr>
<h2>Doanh thu tháng : {{month}} </h2>
<h1>Tổng doanh thu: {{sumRevenue | currency:'VND' }}</h1>

<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Phòng</th>
        <th scope="col">Số lần đặt</th>
        <th scope="col">Doanh thu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of revenue"  >
        <!-- <th scope="row">1</th> -->
        <td>{{item.phong}}</td>
        <td>{{item.soLanDat}}</td>
        <td>{{item.doanhThu | currency:'VND'}}</td>
      </tr>
    </tbody>
  </table>